#root {
  max-width: 1280px;
  text-align: center;

  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

body, html {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  border: 1px solid blue;
  width: 100vw;
}
