.container {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 1rem;
}

.navigationButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}